//background header settings
.blog-page-bg {
background: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80) no-repeat bottom center; 
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $primary;
  margin-top: -80px;
}

@media screen and (min-width: 68em) {
  .billboard-consult {
  background-attachment: fixed;
 }
}

@media screen and (min-width: 68em) {
  .blog-page-bg {
  background-attachment: fixed;
  }
}

//Blog settings
.blog-background {
  background-color: $gray-4;
}

.blog-post {
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: $gray-2;
	// border: 1px solid black;
	color: $primary;
	// box-shadow: 2px 2px 20px grey;

  a {
    text-decoration: underline $secondary;
  }

  a:hover {
    color: $primary;
  }

}

.blog-post .title {
	text-transform: capitalize;
	font-weight: 600;
	color: $primary;
	font-size: 2em;
  text-decoration: underline $secondary;
  padding: 40px 0 0px 10px;
}

.blog-post .author {
	font-style: bold;
  text-transform: uppercase;
	padding-left: 10px;
  font-size: .8em;
}

.blog-post .date {
  padding: 10px 0px 20px 0px;
}

.blog-post .category {
  text-align: right;
  margin-top: -45px;
  padding-right: 10px;
}

.blog-excerpt {
  padding: 10px;
}






// Posts Page Code
.post-header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  color: $primary;
  margin-top: -80px;
}

@media screen and (min-width: 64em) {
	.post-header {
		background-attachment: fixed;
	}
}

.post-title {
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
}

.post-author {
	text-align: center;
	font-size: 1.5em;
}



.blog-article p:first-of-type {
	padding-top: 30px;
}


.white {
  background-color: white;
}


// Broadcast Pages Code

.media-video {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;

  p {
    font-size: 1.2em;
    text-align: left;
  }
}


.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; } 

  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }

.sermon-video-main {
  padding-top: 100px;

}

@media screen and (min-width: 40em) {
  .sermon-video-main {
  padding-bottom: 100px;

  }
}

.video-title-card {
  background-color: $gray-2;
  padding-bottom: 100px;

  .post-title {
    color: white;
    text-align: left;
    font-size: 2.3em;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .post-author {
    color: white;
    text-align: left;
    font-size: 1.5em;

  }
}

.page-nav {
  width: 100%;
  padding: 25px 0px;
    text-align: center;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}
 
.navigation li {
    display: inline;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #6FB7E9;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}
 
.navigation li a:hover,
.navigation li.active a {
    background-color: #3C8DC5;
}


.page-numbers .current {
    background-color: #3c8dc5;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
    color: white;
}

.page-numbers .current:hover {
    background-color: #3C8DC5;
}

.page-numbers .dots {
    border-radius: 3px;
    padding: 12px;
    padding: 0.75rem;
    color: white;
}

.categories {
  list-style-type: none;
  color: white;
  font-size: 1.8em;
  background-color: $gray-2;
  margin-top: 20px;
  text-align: center;
}

.categories ul {
  margin: 0;
}


.categories ul li{
  list-style-type: none;
  font-size: .7em;
  display: block;
  padding: 5px 15px;
}

@media screen and (min-width: 40em) {
  .categories ul li{
  display: inline-block;
}
}




