//Variables
$main-font: 'Roboto', sans-serif;
$head-font: 'Raleway', sans-serif;

//colors
$bg: #1e1f21;
$primary: #fefefe;
$secondary: #18b2fe;
$tertiary: #ff5b52;
$gray-2: #2d3139;
$gray-3: #414752;
$gray-4: #565759;



// $bg: #FFFFFF;
// $primary: #000000;
// $secondary: #FAFAFA;
// $tertiary: #2E6F85;
// $gray-2: #F2f2f2;
// $gray-3: #CCCCCC;
// $gray-4: #565759;